service iptables_blacklist /system/bin/iptables_blacklist
    user root
    group root
    oneshot
    disabled
    seclabel u:r:iptables_blacklist:s0

on property:sys.boot_completed=1
   start iptables_blacklist
